<!doctype html>
<!-- Our uiRouterSample module defined here -->
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">

    <!-- using twitter bootstrap, but of course -->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <!-- styles for ng-animate are located here -->
    <link rel="stylesheet" type="text/css" href="styles.css">

    <!-- Include both angular.js and angular-ui-router.js-->
    <script src="../lib/angular-1.2.14/angular.js"></script>
    <script src="../lib/angular-1.2.14/angular-animate.js"></script>
    <script src="../build/angular-ui-router.js"></script>
    <title>ui-router</title>
</head>
<body>
<div ui-view></div>

<script>
    var app = angular.module('myApp', ['ui.router', 'ngAnimate']);

    app.config(function($stateProvider) {
        $stateProvider.state('app', {
            template: '<div ui-view="app" class="container">Top</div>'
        });
        $stateProvider.state('app.home', {
            data: {hi: 'A message from Home State....umm...Hi?'},
            views: {
                app: {
                    controllerAs: 'HomeCtrl',
                    controller: function($scope, $state) {
                        var Ctrl = this;

                        Ctrl.homeData = 'From Home!';
                        $scope.views = ['view1', 'view2'];
                        $scope.show = true;
                        $scope.shouldAnimate = true;
                        Ctrl.loadingMsg = 'Loading....';
                        $scope.toggleShow = function() {
                            $scope.show = ! $scope.show;
                        };

                        $scope.toggleAnimation = function() {
                            $scope.shouldAnimate = ! $scope.shouldAnimate;
                        };

                        $scope.toggleState = function(stateName) {
                            $state.go(stateName);
                        };
                    },
                    template: '<button ng-click="toggleShow()">Show?</button>\n<button ng-click="toggleAnimation()">Animate?</button>\n<button ng-click="toggleState(\'app.home.test1\')">Go Test 1</button>\n<button ng-click="toggleState(\'app.home.test2\')">Go Test 2</button>\n<p>{{HomeCtrl.homeData}}</p>\n<div ng-if="show">\n    <div\n            ng-repeat="view in views"\n            ui-view="{{view}}"\n            ng-class="{\'slide\': shouldAnimate}"><p>{{HomeCtrl.loadingMsg}}</p></div>\n</div>'
                }
            }
        });
        $stateProvider.state('app.home.test1', {
            views: {
                view1: {
                    resolve: {
                        test: function($q, $timeout) {
                            var deferred = $q.defer();
                            $timeout(function() {
                                deferred.resolve('yup!');
                            }, 0);
                            return deferred.promise;
                        }
                    },
                    controller: function($scope) {
                        $scope.hi = 'Whatup?';
                        $scope.inUiView = 'In uiView';
                    },
                    template: '<h1>{{hi}}</h1><h3>{{HomeCtrl.homeData}}</h3><div ui-view data-something="{{HomeCtrl.homeData}}">{{inUiView}}</div>'
                },
                view2: {
                    controller: function($scope) {
                        $scope.hi = 'Whatup2?';
                    },
                    template: '<h1>{{hi}}</h1><ui-view="hmmm"><h3>{{HomeCtrl.homeData}}</h3></ui-view>'
                }
            }
        });
        $stateProvider.state('app.home.test2', {
            views: {
                view1: {
                    resolve: {
                        test: function($q, $timeout) {
                            var deferred = $q.defer();
                            $timeout(function() {
                                deferred.resolve('yup!');
                            }, 0);
                            return deferred.promise;
                        }
                    },
                    controller: function($scope, $state) {
                        $scope.data = $state.current.data;
                    },
                    template: '<h1>Mooare!</h1><p>{{data.hi}}</p>'
                }
            }
        });
        $stateProvider.state('app.home.test1.subTest1', {
            controllerAs: 'SubTestCtrl',
            controller: function($scope, $state) {
                var Ctrl = this;
                Ctrl.msg = 'Sub Test 1';
            },
            template: '<h1>{{SubTestCtrl.msg}}</h1><h2>{{HomeCtrl.homeData}}</h2>'
        });
    });

    app.run(function($state) {
        $state.go('app.home');
    });
</script>
</body>
</html>
